<div class="row">
        <div class="col-md-12">
            <nav class="navbar navbar-expand-lg navbar-transparent ">
    
                    <a [routerLink]="'/home'" class="titulo2"><strong><h2> Click<strong>In</strong> </h2> </strong></a>
    
                <a class="nav-link" [routerLink]="'/quemsomos'">Quem Somos</a>
                <a class="nav-link" [routerLink]="'/embaixadores'">Embaixadores </a>
                <a class="nav-link" [routerLink]="'/faqs'">FAQs</a>
                
                <a type="button" class="btn btn-link" id="cadastro" data-toggle="modal"
                    data-target="#modalCadastro">Cadastre-se</a>
                <button type="button" data-toggle="modal" data-target="#modalExemplo"
                    class="btn btn-outline-dark">Entrar</button>
            </nav>
    
        </div>
    
    
    </div>
    


<div class="row" id="titulo">
        <h1>
            Dúvidas em alta
        </h1>
    </div>
    <div class="row" id="btns">
        <div class="col-md-6">
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#resposta1"
                aria-expanded="false" aria-controls="collapseExample">
                Como faço para entrar na minha conta do ClickIn?
            </button>
        </div>
    
        <div class="col-md-6">
            <div class="collapse" id="resposta1">
                <div class="card card-body">
                    <ul>
                        <li> Acesse www.clickin.com.</li>
                        <li> Clique em entrar</li>
                        <li> Insira seu login e senha.</li>
                        <li> Clique em entrar novamente.</li>
                    </ul>
                </div>
            </div>
        </div>
    
        <div class="col-md-6">
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample2"
                aria-expanded="false" aria-controls="collapseExample">
                Como faço para criar uma conta do ClickIn?
            </button>
        </div>
    
        <div class="col-md-6">
            <div class="collapse" id="collapseExample2">
                <div class="card card-body">
                    <ul>
                        <li>Acesse clickin.com</li>
                        <li>Clique em Cadastrar-se.</li>
                        <li>Insira seu nome, Telefone , email e senha</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#resposta3"
                aria-expanded="false" aria-controls="collapseExample">
                Como faço para entrar na minha conta do ClickIn?
            </button>
        </div>
    
        <div class="col-md-6">
            <div class="collapse" id="resposta3">
                <div class="card card-body">
                    <ul>
                        <li> Acesse www.clickin.com.</li>
                        <li> Clique em entrar</li>
                        <li> Insira seu login e senha.</li>
                        <li> Clique em entrar novamente.</li>
                    </ul>
                </div>
            </div>
        </div>
    
        <div class="col-md-6">
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample4"
                aria-expanded="false" aria-controls="collapseExample">
                Como faço para criar uma conta do ClickIn?
            </button>
        </div>
    
        <div class="col-md-6">
            <div class="collapse" id="collapseExample4">
                <div class="card card-body">
                    <ul>
                        <li>Acesse clickin.com</li>
                        <li>Clique em Cadastrar-se.</li>
                        <li>Insira seu nome, Telefone , email e senha</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#resposta5"
                aria-expanded="false" aria-controls="collapseExample">
                Como faço para entrar na minha conta do ClickIn?
            </button>
        </div>
    
        <div class="col-md-6">
            <div class="collapse" id="resposta5">
                <div class="card card-body">
                    <ul>
                        <li> Acesse www.clickin.com.</li>
                        <li> Clique em entrar</li>
                        <li> Insira seu login e senha.</li>
                        <li> Clique em entrar novamente.</li>
                    </ul>
                </div>
            </div>
        </div>
    
        <div class="col-md-6">
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample6"
                aria-expanded="false" aria-controls="collapseExample">
                Como faço para criar uma conta do ClickIn?
            </button>
        </div>
    
        <div class="col-md-6">
            <div class="collapse" id="collapseExample6">
                <div class="card card-body">
                    <ul>
                        <li>Acesse clickin.com</li>
                        <li>Clique em Cadastrar-se.</li>
                        <li>Insira seu nome, Telefone , email e senha</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="faça">
            <h1>
                Faça a sua pergunta
            </h1>
        </div>
    <div class="row" id="fotoperguntas">
        <div class="col-md-6" id="fotoperguntas">
            <img src="../../assets/images/duvidas.png" id="foto" title="Imagem com pessoas e interrogações">
        </div>
        <div class="col-md-6">
                <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Digite o seu nome"
                            aria-label="Recipient's username" aria-describedby="button-addon2">
                        <div class="input-group-append">
                        </div>
                    </div>
                    <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Digite aqui seu email"
                                aria-label="Recipient's username" aria-describedby="button-addon2">
                            <div class="input-group-append">
                            </div>
                        </div>
                        <div class="input-group mb-3">
                                <input type="text" id="inputzao" class="form-control" placeholder="Digite aqui a sua pergunta"
                                    aria-label="Recipient's username" aria-describedby="button-addon2">
                                <div class="input-group-append">
                                </div>
                         </div>  
                                <button type="button" class="btn btn-primary">Enviar pergunta</button>
        </div>
    </div>
    
    
    
    <div class="row" id="popular">
        <h2>
            O que temos de mais popular
        </h2>
    </div>
    
    
    <div class="container">
        <div class="row">
    
            <div class="col-md-6">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img src="../../assets/images/seuperfil.png" class="card-img" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Seu perfil e configurações</h5>
                                <p class="card-text">Saiba como adicionar uma foto , editar as suas informações e
                                    gerenciar as publicações na sua linha do tempo</p>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
             <div class="card mb-3" onclick="" style="max-width: 540px;">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img src="../../assets/images/loginsenha.png" class="card-img" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Login e senha</h5>
                                <p class="card-text">
                                    Saiba como alterar sua senha e corrigir problemas de login.
                                </p>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                    <div class="card mb-3" style="max-width: 540px;">
                            <div class="row no-gutters">
                                <div class="col-md-4">
                                    <img src="../../assets/images/seuperfil.png" class="card-img" alt="...">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">Seu perfil e configurações</h5>
                                        <p class="card-text">Saiba como adicionar uma foto , editar as suas informações e
                                            gerenciar as publicações na sua linha do tempo</p>
                                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                     <div class="card mb-3" onclick="" style="max-width: 540px;">
                            <div class="row no-gutters">
                                <div class="col-md-4">
                                    <img src="../../assets/images/loginsenha.png" class="card-img" alt="...">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">Login e senha</h5>
                                        <p class="card-text">
                                            Saiba como alterar sua senha e corrigir problemas de login.
                                        </p>
                                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                    </div>
                                </div>
                            </div>
            </div>
    
        </div>
        
        
    </div>