<!-- NAVBAR -->

<div class="col-md-7">
    <nav class="navbar navbar-expand-lg navbar-transparent ">

        <a [routerLink]="'/home'" class="titulo"><strong>
                <img src="/assets/images/logonew.png" id="logo">
            </strong></a>
        <a class="navbar-brand" href="#"></a>

        <a type="button" class="btn btn-link" id="cadastro" data-toggle="modal"
            data-target="#modalCadastro">Cadastre-se</a>
        <button type="button" data-toggle="modal" data-target="#modalLogin" class="btn btn-outline-dark">Entrar</button>

    </nav>
</div>

<!-- MODAL LOGIN -->

<div class="modal fade" id="modalLogin" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="card-title text-center">
                    Entrar
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar" id="btnfecharLogin">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="form-signin">
                    <div class="form-label-group">
                        <label for="inputEmail">E-mail</label>
                        <input type="email" id="inputEmail" class="form-control" placeholder="Endereço de e-mail"
                            required autofocus [(ngModel)]="emailLogin" [ngModelOptions]="{standalone: true}">
                    </div>
                    <div class="form-label-group mt-3">
                        <label for="inputPassword">Senha</label>
                        <input type="password" id="inputPassword" class="form-control" placeholder="Senha"
                            [(ngModel)]="senhaLogin" [ngModelOptions]="{standalone: true}" required>
                    </div>
                    <div class="custom-control custom-checkbox mb-3 mt-3">
                        <label class="custom-control-label " for="customCheck1">Lembrar-me</label>
                        <input type="checkbox" class="custom-control-input" id="customCheck1">
                        <br>
                        <a href="#">Esqueceu a senha? Clique aqui</a>
                    </div>
                    <button class="btn btn-lg btn-primary btn-block text-uppercase"
                        (click)="validaLogin();">Entrar</button>
                    <hr class="my-4">
                </form>
            </div>

        </div>
    </div>
</div>

<!-- MODAL CADASTRO -->

<div class="modal fade" id="modalCadastro" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="card-title text-center">
                    Cadastre-se
                </h5>
                <button type="button " class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="form-signin">
                    <div class="form-label-group">
                        <label for="inputNome">Nome Completo</label>
                        <input type="nome" id="inputnome" class="form-control" [(ngModel)]="nomeCompleto"
                            [ngModelOptions]="{standalone: true}" placeholder="Digite seu nome completo" required
                            autofocus>
                        <span id="spanPadrao" *ngIf='_msgErroNome'>{{_msgErroNome}}</span>
                    </div>
                    <div class="form-label-group mt-3">
                        <label for="inputEmail">E-mail</label>
                        <input type="email" id="inputEmail" class="form-control" [(ngModel)]="email"
                            [ngModelOptions]="{standalone: true}" placeholder="Digite seu e-mail" required autofocus>
                        <span id="spanPadrao" *ngIf='_msgErroEmail'>{{_msgErroEmail}}</span>
                    </div>
                    <div class="form-label-group mt-3">
                        <label for="inputTelefone">Telefone</label>
                        <input type="number" id="inputTelefone" class="form-control" [(ngModel)]="telefone"
                            [ngModelOptions]="{standalone: true}" placeholder="Digite o seu telefone" required
                            autofocus>
                        <span id="spanPadrao" *ngIf='_msgErroTelefone'>{{_msgErroTelefone}}</span>
                    </div>
                    <div class="form-label-group mt-3">
                        <label for="inputPassword">Senha</label>
                        <input type="password" id="inputPassword" class="form-control" [(ngModel)]="senha"
                            [ngModelOptions]="{standalone: true}"
                            placeholder="Digite a sua senha (minimo de 10 caracteres)" (keypress)="forcaSenha();"
                            (keyup)="forcaSenha();" required data-toggle="tooltip"
                            title="Para a senha ser forte digite ao menos 10 dígitos e um caracter especial (@, %, #, &, $)">

                        <span id="spanSenhaFraca" *ngIf='_msgSenhaFraca'>{{_msgSenhaFraca}}</span>
                        <span id="spanSenhaForte" *ngIf='_msgSenhaForte'>{{_msgSenhaForte}}</span>
                    </div>

                    <div class="form-label-group mt-3">
                        <label for="inputPassword">Confirme a senha</label>
                        <input type="password" id="inputPassword" class="form-control" [(ngModel)]="senhaRepetida"
                            [ngModelOptions]="{standalone: true}" placeholder="Repita a sua senha" required>
                        <span id="spanPadrao" *ngIf='_msgSenha'>{{_msgSenha}}</span>

                    </div>


                    <button class="btn btn-lg btn-primary btn-block text-uppercase mt-4"
                        (click)="valida();">Cadastrar</button>
                    <hr class="my-4">
                </form>
            </div>
        </div>
    </div>
</div>

<!-- TITULO -->

<h4 class="display-4  p-0 mb-4">
    Dúvidas em alta
</h4>

<!-- LISTA DE PERGUNTAS -->

<div class="row">
    <div class="col-md-6">
        <div id="botoesperguntas">
            <button class="btn btn-info" type="button" data-toggle="collapse" data-target="#resposta1"
                aria-expanded="false" aria-controls="collapseExample">
                Como faço para entrar na minha conta do ClickIn?
            </button>

            <div class="collapse" id="resposta1">
                <li> Acesse www.clickin.com.br</li>
                <li> Clique em entrar</li>
                <li> Insira seu login e senha</li>
                <li> Clique em entrar novamente</li>
            </div>
        </div>

        <div id="botoesperguntas">
            <button class="btn btn-info" type="button" data-toggle="collapse" data-target="#resposta2"
                aria-expanded="false" aria-controls="collapseExample">
                Como faço para entrar na minha conta do ClickIn?
            </button>

            <div class="collapse" id="resposta2">
                <li> Acesse www.clickin.com.br</li>
                <li> Clique em entrar</li>
                <li> Insira seu login e senha</li>
                <li> Clique em entrar novamente</li>
            </div>
        </div>

        <div id="botoesperguntas">
            <button class="btn btn-info" type="button" data-toggle="collapse" data-target="#resposta3"
                aria-expanded="false" aria-controls="collapseExample">
                Como faço para entrar na minha conta do ClickIn?
            </button>

            <div class="collapse" id="resposta3">
                <li> Acesse www.clickin.com.br</li>
                <li> Clique em entrar</li>
                <li> Insira seu login e senha</li>
                <li> Clique em entrar novamente</li>
            </div>
        </div>

        <div id="botoesperguntas">
            <button class="btn btn-info" type="button" data-toggle="collapse" data-target="#resposta4"
                aria-expanded="false" aria-controls="collapseExample">
                Como faço para entrar na minha conta do ClickIn?
            </button>

            <div id="resposta4">
                <li> Acesse www.clickin.com.br</li>
                <li> Clique em entrar</li>
                <li> Insira seu login e senha</li>
                <li> Clique em entrar novamente</li>
            </div>
        </div>

        <div id="botoesperguntas">
            <button class="btn btn-info" type="button" data-toggle="collapse" data-target="#resposta5"
                aria-expanded="false" aria-controls="collapseExample">
                Como faço para entrar na minha conta do ClickIn?
            </button>

            <div id="resposta5">
                <li> Acesse www.clickin.com.br</li>
                <li> Clique em entrar</li>
                <li> Insira seu login e senha</li>
                <li> Clique em entrar novamente</li>
            </div>
        </div>

        <div id="botoesperguntas">
            <button class="btn btn-info" type="button" data-toggle="collapse" data-target="#resposta6"
                aria-expanded="false" aria-controls="collapseExample">
                Como faço para entrar na minha conta do ClickIn?
            </button>

            <div id="resposta6">
                <li> Acesse www.clickin.com.br</li>
                <li> Clique em entrar</li>
                <li> Insira seu login e senha</li>
                <li> Clique em entrar novamente</li>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <img src="../../assets/images/interrogacao.png" id="foto">
    </div>
</div>


<h4 class="display-4  p-0 mb-4">
    O que temos de mais popular
</h4>



<div class="container">
    <div class="row">

        <div class="col-md-6">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="../../assets/images/seuperfil.png" class="card-img" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Seu perfil e configurações</h5>
                            <p class="card-text">Saiba como adicionar uma foto , editar as suas informações e
                                gerenciar as publicações na sua linha do tempo</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-3" onclick="" style="max-width: 540px;">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="../../assets/images/loginsenha.png" class="card-img" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Login e senha</h5>
                        <p class="card-text">
                            Saiba como alterar sua senha e corrigir problemas de login.
                        </p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="../../assets/images/seuperfil.png" class="card-img" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Seu perfil e configurações</h5>
                            <p class="card-text">Saiba como adicionar uma foto , editar as suas informações e
                                gerenciar as publicações na sua linha do tempo</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-3" onclick="" style="max-width: 540px;">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="../../assets/images/loginsenha.png" class="card-img" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Login e senha</h5>
                        <p class="card-text">
                            Saiba como alterar sua senha e corrigir problemas de login.
                        </p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </div>
        </div>

    </div>


</div>

<!-- TITULO -->

<div class="row">

    <div class="col-md-12">
        <h2 class="display-4  p-0 mb-4">Contate-nos</h2>
    </div>

</div>

<!-- INPUT DE MENSAGEM -->

<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">

            <div id="iframe">
                <form class="needs-validation" novalidate>
                    <div class="row">
                        <div class="col-md-12">
                            <label for="validationTooltip01"> Nome Completo </label>
                            <input type="text" class="form-control" placeholder="Digite o seu Nome Completo" value=""
                                required [(ngModel)]="nomeCompleto" [ngModelOptions]="{standalone: true}">
                            <span *ngIf='_msgErroNome'>{{_msgErroNome}}</span>
                        </div>


                    </div>

                    <div class="row mt-2">
                        <div class="col-md-12">
                            <label for="validationTooltip01"> Email </label>
                            <input type="text" class="form-control" [(ngModel)]="email"
                                [ngModelOptions]="{standalone: true}" placeholder="Digite o seu e-mail" value=""
                                required>
                            <span *ngIf='_msgErroEmail'>{{_msgErroEmail}}</span>
                        </div>

                    </div>

                    <div class="row mt-2">
                        <div class="col-md-12">
                            <label for="validationTooltip04">Telefone</label>
                            <input type="text" class="form-control" [(ngModel)]="telefone"
                                [ngModelOptions]="{standalone: true}" placeholder="Digite o seu telefone" required>
                            <span *ngIf='_msgErroTelefone'>{{_msgErroTelefone}}</span>
                        </div>
                    </div>


                    <div class="row mt-2">
                        <div class="col-md-12">
                            <label for="exampleFormControlTextarea1">Mensagem</label>
                            <textarea class="form-control" [(ngModel)]="mensagem" [ngModelOptions]="{standalone: true}"
                                rows="3"></textarea>
                            <span *ngIf='_msgErroMensagem'>{{_msgErroMensagem}}</span>
                        </div>
                    </div>



                    <div class="row mt-2 mb-5" id="bot">
                        <div class="col-md-3">
                        </div>

                        <div class="col-md-6" id="botao">
                            <button class="btn btn-outline-dark" (click)="valida();">Enviar</button>
                        </div>
                        <div class="col-md-3">
                        </div>
                    </div>
                </form>
            </div>




            <!-- FOOTER -->

            <hr>

            <div class="col-md-12">
                <div id="textorodape">
                    <strong>ClickIn&reg;</strong> 2020
                </div>
            </div>