/* LOGO CLICKIN */

#logo{
    width: 150px;
    padding-top: 15px;
    padding-left: 20px;
}
#nav{
    background-color:#FFE1C9 ;
}

.jumbotron{
background-color: white;
box-shadow: 5px 2px 5px 3px #FF8A24;
}
/* IMAGEM PERFIL */

#imagemPerfil{
    max-width: 100%;
    height: auto;
    margin: auto;
    border-radius: 50%;
    margin-left: 20%;
}
h5{
    text-align: center;
}
.nav-link{
cursor: pointer;
}


/* NUMERO AO LADO DE MENSAGENS-NOTIFICAÇOES */

#badge{
 background-color: #138496;
 color: white;

}
#corpo{
    background: linear-gradient(to bottom, #ffe1c9 20%, #ff7700 113%);
    
}

/*FOOTER */
#footer{
    background-color: #FF8922;
}

