<!-- NAVBAR -->

<div class="col-md-7">
        <nav class="navbar navbar-expand-lg navbar-transparent ">
    
            <a [routerLink]="'/home'" class="titulo"><strong>
                    <img src="/assets/images/logonew.png" id="logo">
                </strong></a>
            <a class="navbar-brand" href="#"></a>
    
        </nav>
    </div>
    <!-- CARD PERFIL -->
    
    <div class="container-fluid gedf-wrapper">
        <div class="row">
            <div class="col-md-3">
    
                <div class="card-body">
                    <div class="col-md-12">
                        <img src="../../assets//images/waves com coqueiro.png" class="imagemPerfil" alt="">
                    </div>
                    <div class="h5 mt-4">{{ usuario.nome }}</div>
                    <h5>Desenvolvedor Java Jr Full Stack</h5>
                </div>
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center h6 text-muted">
                            <a class="nav-link" [routerLink]="'/feed'">Feed</a>
                        <span class="badge badge badge-pill"></span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center h6 text-muted">
                        Mensagens
                        <span class="badge badge badge-pill" id="badge">14</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center h6 text-muted">
                        Notificações
                        <span class="badge badge badge-pill" id="badge">2</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center h6 text-muted">
                        Configurações
                        <span class="badge badge badge-pill"></span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center h6 text-muted">
                        Sair
                        <span class="badge badge badge-pill"></span>
                    </li>
                </ul>
            </div>
    
            <div class="col-md-9">
    
                <!-- TABELA DE EDIÇÃO -->
                <div class="jumbotron">
                    <h5 class="display-4" id="titulo">Perfil profissional do candidato</h5>
                    <form>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inserirnome">Nome</label>
                                <input type="text" class="form-control" id="inserir nome"
                                    placeholder="Como você gostaria do seu nome no perfil">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inserirsobrenome">Sobrenome</label>
                                <input type="text" class="form-control" id="inserirSobrenome"
                                    placeholder="Insira seu sobrenome">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inserirInfoAcademica">Formação acadêmica</label>
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inserirInfoProfissional">Formação profissional</label>
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                            </div>
    
                        </div>
    
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inserirendereco">Endereço</label>
                                <input type="text" class="form-control" id="inserirEndereço"
                                    placeholder="Insira seu endereço para buscar as vagas por perto">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputEstado">Estado</label>
                                <select id="inputEstado" class="form-control">
                                    <option selected>Selecionar</option>
                                    <option>AC</option>
                                    <option>AL</option>
                                    <option>AP</option>
                                    <option>AM</option>
                                    <option>BA</option>
                                    <option>CE</option>
                                    <option>DF</option>
                                    <option>ES</option>
                                    <option>GO</option>
                                    <option>MA</option>
                                    <option>MS</option>
                                    <option>MG</option>
                                    <option>PA</option>
                                    <option>PB</option>
                                    <option>PR</option>
                                    <option>PE</option>
                                    <option>PI</option>
                                    <option>RJ</option>
                                    <option>RN</option>
                                    <option>RS</option>
                                    <option>RO</option>
                                    <option>RR</option>
                                    <option>SC</option>
                                    <option>SP</option>
                                    <option>SE</option>
                                    <option>TO</option>
                                </select>
                            </div>
    
                        </div>
                        <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="inserirSetor">Setor</label>
                                    <input type="text" class="form-control"                                    placeholder="Insira seu setor de atuação">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="inserirsobrenome">Cargo</label>
                                    <input type="text" class="form-control" placeholder="Insira seu cargo atual. EX: autonomo, farmacêutico etc..">
                                </div>
                            </div>
                    </form>
                </div>
            </div>
            <!-- FOOTER -->
    
            <div class="col">
                <hr>
                <div id="textorodape">
                    <strong>ClickIn&reg;</strong> 2020
                </div>
            </div>

