<!-- NAVBAR -->
<div class="row">
  <div class="col-md-7">
    <nav class="navbar navbar-expand-lg navbar-transparent ">

      <a [routerLink]="'/home'" class="titulo"><strong>
          <img src="/assets/images/logonew.png" id="logo">
        </strong></a>
      <a class="navbar-brand" href="#"></a>

    </nav>
  </div>

  <!-- CARD PERFIL -->

  <div class="container-fluid gedf-wrapper">
    <div class="row">
      <div class="col-md-3">
        <div class="card-body">
          <div class="col-md-12">
            <img src="../../assets//images/perfiluser.png" class="imagemPerfil" alt="">
          </div>
          <div class="h5 mt-4">{{ usuario.nome }}</div>
          <h5>Desenvolvedor Java Jr Full Stack</h5>
        </div>

        <ul class="list-group">
          <li class="list-group-item d-flex justify-content-between align-items-center h6 text-muted">
            <a class="nav-link" [routerLink]="'/perfilpessoafisica'">Perfil</a>
            <span class="badge badge badge-pill"></span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center h6 text-muted">
            <a class="nav-link" [routerLink]="'/feed'">Feed</a>
            <span class="badge badge badge-pill" id="badge">6</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center h6 text-muted">
            <a class="nav-link" (click)="logout();"> Sair </a>
            <span class="badge badge badge-pill"></span>
          </li>
        </ul>
      </div>


      <!-- CARDS COM NOTICIAS -->


      <div class="col-md-8" id="titulo">
        <div class="row">
          <div class="jumbotron">
            <div class="card mb-3">
              <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="../../assets/images/noticia1.jpg" class="card-img" alt="surdos conversando em LIBRAS">
                </div>
                <div class="col-md-8 m-0 p-0">
                  <div class="card-body">
                    <h5 class="card-title">Afinal, os surdos são mudos?</h5>
                    <p class="card-text">Diferente do que se ouve por aí, não devemos utilizar o termo surdomudo,
                      nem apenas mudo ou mudinho. </p>
                    <a
                      href=" https://www.defensoria.sp.def.br/dpesp/repositorio/40/guia%20sobre%20os%20direitos%20das%20pessoas%20com%20defici%c3%aancia.pdf ">Saiba
                      mais ...</a>

                  </div>
                </div>
              </div>
            </div>

            <div class="card mb-3 m-0 p-0">
              <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="../../assets/images/noticia2.jpg" class="card-img" alt="cego com cão guia">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">Mobilidade</h5>
                    <p class="card-text"> Uma das leis mais importantes para o cego e que ainda
                      carece de divulgação é a Lei 11.126, de 27 de junho de 2005, que lhe
                      assegura o direito a entrar e permanecer com cão-guia em locais de
                      uso coletivo.
                    </p>
                    <a
                      href=" https://www.defensoria.sp.def.br/dpesp/repositorio/40/guia%20sobre%20os%20direitos%20das%20pessoas%20com%20defici%c3%aancia.pdf   ">Saiba
                      mais ...</a>
                  </div>
                </div>
              </div>
            </div>

            <div class="card mb-3 m-0 p-0">
              <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="../../assets/images/noticia3.jpg" class="card-img" alt="Benefício de Prestação Continuada">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">Seguridade social</h5>
                    <p class="card-text">O BPC – Benefício de Prestação Continuada: é a garantia de um salário mínimo
                      por
                      mês
                      à pessoa com deficiência, de qualquer idade, com incapacidade para a vida independente
                      e para o trabalho. </p>
                    <a
                      href=" https://www.defensoria.sp.def.br/dpesp/repositorio/40/guia%20sobre%20os%20direitos%20das%20pessoas%20com%20defici%c3%aancia.pdf   ">Saiba
                      mais ...</a>
                  </div>
                </div>
              </div>
            </div>


            <div class="card mb-3 m-0 p-0">
              <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="../../assets/images/noticia4.jpg" class="card-img" alt="Direito ao Trabalho">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">Direito ao trabalho</h5>
                    <p class="card-text"> A pessoa com deficiência pode trabalhar, sem qualquer distinção, desde que
                      tenha habilidade e qualificação profissional exigida para a função a ser exercida. </p>
                    <a
                      href=" https://www.defensoria.sp.def.br/dpesp/repositorio/40/guia%20sobre%20os%20direitos%20das%20pessoas%20com%20defici%c3%aancia.pdf   ">Saiba
                      mais ...</a>
                  </div>
                </div>
              </div>
            </div>

            <div class="card mb-3 m-0 p-0">
              <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="../../assets/images/noticia5.jpg" class="card-img" alt="Autista">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">Autismo é deficiência?</h5>
                    <p class="card-text">A Convenção Internacional sobre os Direitos das Pessoas com Deficiência já
                      permitia
                      reconhecer a pessoa com Transtorno do Espectro do Autismo como Pessoa com Deficiência e conferir a
                      ela os
                      mesmos direitos.</p>
                    <a
                      href=" https://www.defensoria.sp.def.br/dpesp/repositorio/40/guia%20sobre%20os%20direitos%20das%20pessoas%20com%20defici%c3%aancia.pdf   ">Saiba
                      mais ...</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>