<!-- NAVBAR -->

<div class="col-md-7">
        <nav class="navbar navbar-expand-lg navbar-transparent ">
    
            <a [routerLink]="'/home'" class="titulo"><strong>
                    <img src="/assets/images/logonew.png" id="logo">
                </strong></a>
            <a class="navbar-brand" href="#"></a>
    
        </nav>
    </div>
    <!-- CARD PERFIL -->
    
    <div class="container-fluid gedf-wrapper">
        <div class="row">
            <div class="col-md-3">
    
                <div class="card-body">
                    <div class="col-md-12">
                        <img src="../../assets//images/waves com coqueiro.png" class="imagemPerfil" alt="">
                    </div>
                    <div class="h5 mt-4">{{ usuario.nome }}</div>
                    <div class="h5 mt-4">{{ usuario.nomeFantasia }}</div>
                </div>
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center h6 text-muted">
                            <a class="nav-link" [routerLink]="'/feed'">Feed</a>
                        <span class="badge badge badge-pill"></span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center h6 text-muted">
                        <a class="nav-link" [routerLink]="'/noticias'"> Noticias </a>
                            <span class="badge badge badge-pill" id="badge">10</span>
                          </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center h6 text-muted">
                        <a class="nav-link" (click)="logout();"> Sair </a>
                        <span class="badge badge badge-pill"></span>
                    </li>
                </ul>
            </div>
    
            <div class="col-md-9">
    
                <!-- TABELA DE EDIÇÃO -->
                <div class="jumbotron">
                    <h5 class="display-4" id="titulo">Perfil profissional do candidato</h5>
                    <form>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inserirnome">Nome Completo</label>
                                <input type="text" class="form-control" id="nomeCompleto"
                                    placeholder="Como você gostaria do seu nome no perfil" [(ngModel)]="nomeCompleto" [ngModelOptions]="{standalone: true}" value={{usuario.nome}}>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inserirCPF">CPF</label>
                                <input type="text" class="form-control" id="cpf"
                                    placeholder="Insira seu CPF" [(ngModel)]="cpf" [ngModelOptions]="{standalone: true}" value={{infousuario.cpf}}>
                            </div>
                        </div>
                        
    
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inserirendereco">Endereço</label>
                                <input type="text" class="form-control" id="endereco"
                                    placeholder="Insira seu endereço para buscar as vagas por perto" [(ngModel)]="endereco" [ngModelOptions]="{standalone: true}" value={{infousuario.endereco}}>
                            </div>
                            <div class="form-group col-md-6">

                                    <label for="inserirtelefone">Telefone</label>
                                    <input type="text" class="form-control" id="telefone" value={{usuario.telefone}}
                                        placeholder="Insira seu telefone" [(ngModel)]="telefone" [ngModelOptions]="{standalone: true}"  >
                                
                            </div>
    
                        </div>
                        <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="inserirSetor">Setor</label>
                                    <input type="text" class="form-control" id = "setor"                                    placeholder="Insira seu setor de atuação" [(ngModel)]="setor" [ngModelOptions]="{standalone: true}" value={{infousuario.setor}}>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="inserirsobrenome">Cargo</label>
                                    <input type="text" class="form-control" id = "cargo" placeholder="Insira seu cargo atual. EX: autonomo, farmacêutico etc.." [(ngModel)]="cargo" [ngModelOptions]="{standalone: true}" value={{infousuario.cargo}}>
                                </div>
                            </div>

                            <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="inserirInfoAcademica">Formação acadêmica</label>
                                        <textarea class="form-control" id="formacaoAcademica" rows="3" [(ngModel)]="formacaoAcademica" [ngModelOptions]="{standalone: true}" value={{infousuario.infoAcademica}}></textarea>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="inserirInfoProfissional">Formação profissional</label>
                                        <textarea class="form-control" id="formacaoProfissional" rows="3" [(ngModel)]="formacaoProfissional" [ngModelOptions]="{standalone: true}" value={{infousuario.infoProfissional}}></textarea>
                                    </div>
            
                                </div>

                                

                            <button class="btn btn-lg btn-info btn-block text-uppercase mt-3"
                            (click)="enviar();">Alterar</button>

                    </form>

                </div>
            </div>

            <!-- FOOTER -->
    
            <div class="col">
                <hr>
                <div id="textorodape">
                    <strong>ClickIn&reg;</strong> 2020
                </div>
            </div>