<div class="row">
        <div class="col-md-12">
            <nav class="navbar navbar-expand-lg navbar-transparent ">
    
                    <a [routerLink]="'/home'" class="titulo"><strong><h2> Click<strong>In</strong> </h2> </strong></a>
    
                <a class="nav-link" [routerLink]="'/quemsomos'">Quem Somos </a>    
                <a class="nav-link" [routerLink]="'/contato'">Contato</a>             
                <a class="nav-link" [routerLink]="'/faq'">FAQs</a>
                
                
                <a type="button" class="btn btn-link" id="cadastro" data-toggle="modal"
                    data-target="#modalCadastro">Cadastre-se</a>
                <button type="button" data-toggle="modal" data-target="#modalExemplo"
                    class="btn btn-outline-dark">Entrar</button>
            </nav>
    
        </div>
    
    
    </div>


<div class="container">
        <div class="row" id= "embaixadores">
        <div class="col-md-6" >
                <div class="card-body" id="texto">
                  <h4>Nossas inspirações</h4> <br>
                  <p>Conversamos com a Mariana Neres, Cássia Regina, Thiago Cardoso, Thiago Demiquele e João Marinho para viabilizar a criação e funcionalidade do nosso projeto. Essa troca foi essencial para a formação e planejamento do Clickin. </p>
                <p> Conhecer a realidade vivenciada pelos PCD's no processo de inclusão no mercado de trabalho foi nossa primeira missão para conseguir formar a Rede social com funcionalidade.  </p>
                <p> Nosso agradecimento especial à Mariana, Cassia, Thiago, João e os demais amigos e professores que apoiaram a nossa ideia.</p>
                </div>
        </div>
              
        <div class="coll-md-6">
        <div class="embed-responsive embed-responsive-16by9 video">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
          </div>
        </div>
        
        </div>
        </div>
        <hr>
            <!--<footer class="footer">-->
                    <div class="container mb-3">
                            <div class="row">
                                <div class="col-md-12 kl">
                                    <div id="textorodape" class="navbar-text">
                                        <strong>ClickIn&reg;</strong>
                                    </div>
                                </div>
                            </div>
                            <div class="row ">
            
                                <div class="col-md-12 ">
                                    <ul class="social ">
                                        <li><a href="http://facebook.com/">Facebook</a></li>
                                        <li><a href="https://twitter.com/">Twitter</a></li>
                                        <li><a href="http://instagram.com/">Instagram</a></li>
                                    </ul>
            
                                </div>
                            </div>
                        </div>
                        <!--</footer>-->