/* LOGO CLICKIN */

#logo{
    width: 150px;
    padding-top: 15px;
    padding-left: 20px;
}

/* CARD PUBLICAR  */

.card{
    display: flex;
    justify-content: right;
    box-shadow: 1px 2px #b4b4b4;
}

/* FOTO NO CARD DA PUBLICAÇÃO */

#fotopost{

    background-color: #aaa;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    overflow: hidden;
    position: relative;

}


/* IMAGEM PERFIL */

.imagemPerfil{
  border-radius: 50%;
  width: 180px;
  height: 180px;
  margin-left: 12%;
  margin-top: 6%;
}

/* NUMERO AO LADO DE MENSAGENS-NOTIFICAÇOES */

#badge{

 background-color: #138496;
 color: white;

}


/* CARD OPÇÕES DE SEGUIR */

#opcoescurtir{
    margin-top: 10%;
    margin-bottom: 10%;
    box-shadow: 1px 2px #b4b4b4;
}

/* LINKS CURTIR-COMPARTILHAR-COMENTAR */

.card-link{
    color: #138496;
}

/* CURSOR LINKS */

.nav-link{
    cursor: pointer;
}

.list-group{
    box-shadow: 1px 2px  #b4b4b4;
}

.hidden{
    display: none;
  }
