/* LOGO CLICKIN */

#logo{
    left: 50px; /* posiciona a 90px para a esquerda */ 
    top: 330px; /* posiciona a 70px para baixo */
    width: 200px;
    padding-top: 20px;
    padding-left: 20px;
}

html {
    scroll-behavior: smooth;
  }

/* BOTÃO CADASTRAR/ENTRAR */

#cadastro{
    margin-left: 120%;
}


/* BEM-VINDXS */

h1{
    color: black;
    margin-top: 15%;
    margin-left: 20%;
    font-size: 48px;

}


/* IMAGEM CADEIRANTE */

.cadeirante{

    left: 850px;  
    top: 180px; 
    width: 220%;
    right: 220%;

}

/* IMAGEM QUEM SOMOS */

#defhome{
    width: 450px;
    height: 250px;
    margin-top: 35%;
}

/* LINKS QUEMSOMOS-CONTATO-EMBAIXADORES-FAQS */

#navbaixo{

    border: transparent;
    margin-left: 16%;
    text-decoration: none;
    color: rgb(136, 136, 136);
} 

.nav-link{
    color: rgb(138, 138, 138);
}
/* CARROUSEL */

#carouselExampleIndicators{
    text-align: center;
    
}



/* BOTÃO CARROUSEL */

.carousel-control-next-icon{
    background-color: rgb(182, 182, 182);

}
.carousel-control-prev-icon{
    background-color:rgb(182, 182, 182);
}


/* TITULO - SOBRE O PROJETO */

h3{
    text-align: center;
    margin-top: 7%;
}


/* TITULO - NOSSO TIME */

h4{
    text-align: center;
    
}

/* TEXTO */

p{
    text-align: justify;
    margin-top: 1%;
    margin-left: 6%;
    margin-right: 6%;
    line-height: 25px;

}

/* FOOTER */

#textorodape {
    display: flex;
    justify-content: center ;

}

/*DROPDOW*/

.dropdown{
    margin-left: 120%;
}

#dropdownMenuButton{
    margin-right: 10px;
    height: 42px;
    
}

/* VIDEO */

.video{
    height: 320px;
    width: 530px;
    text-align: center;
    margin-top: 28%;
}

#jumb{
    background: linear-gradient(to bottom, #ffffff 0%, #ff9933 100%);
}


/* TEXTO  */

#texto{
    margin-top: 18%;
    margin-block-end: 9%;
}
/* 
#embaixadores{
   margin-top: %;
}*/


.arrowicon{
    margin-left: 50%;
}

#spanPadrao{
    color: red;
}


#spanSenhaForte{
    color: green;
}

#spanSenhaFraca{
    color: blue;
}